
<div class="homepage-wrapper">
  <div class="left-banner">
    <h1 class="title">
      Q-Pon
    </h1>
    <h2 class="subtitle">
      Redeem your coins for dining coupons.
    </h2>
  </div>
  <div class="right-banner">
    HomePage
  </div>
</div>

<div class="card-list">
  <div class="columns">
    <div class="column is-one-third">
      <h3 style="font-weight: 700;">HK Island</h3>
      <%
      _.each(data['HK Island'], function (dining) { %>
        <%- partial ('../partials/card.ejs', { dining: dining }) %>
      <% });
      %>
    </div>

    <div class="column is-one-third">
      <h3 style="font-weight: 700;">Kowloon</h3>
      <%
      _.each(data['Kowloon'], function (dining) { %>
        <%- partial ('../partials/card.ejs', { dining: dining }) %>
      <% });
      %>
    </div>

    <div class="column is-one-third">
      <h3 style="font-weight: 700;">New Territories</h3>
      <%
      _.each(data['New Territories'], function (dining) { %>
        <%- partial ('../partials/card.ejs', { dining: dining }) %>
      <% });
      %>
    </div>
  </div>
</div>