<div class="homepage-wrapper">
  <div class="left-banner">
    <h1 class="title">
      Q-Pon
    </h1>
    <h2 class="subtitle">
      Redeem your coins for dining coupons.
    </h2>
  </div>
  <div class="right-banner">
    Redeemed Page
  </div>
</div>

<div class="card-list">
  <p style="display: flex; justify-content: space-between;font-weight: 600; font-size: 22px; margin-bottom: 24px;">
    <span>Redeemed Coupons:</span>
    <span style="display: inline-block;margin-right: 120px;">Current Balance: <%= user.coins %></span>
  </p>

  <div class="columns">
    <% if (redeems.length < 1) { %>
    <h4 style="margin-top: 64px; margin-left: 20px;" class="title is-4">you have not redeem any coupons.</h4>
    <% } %>

    <%
      _.each(redeems, function (dining) { %>
    <div class="column is-one-third">
      <%- partial ('../partials/card.ejs', { dining: dining }) %>
    </div>
    <% });
      %>
  </div>
</div>